header,
footer {
  width: 100%;
  text-align: center;
}

article {
  height: 100vw;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

#create-workout {
  background-color: aliceblue;
  grid-column: 1 / 6;
  height: 100%;
  overflow: auto;
}

#saved-workouts {
  position: relative;
  background-color: antiquewhite;
  grid-column: 1/6;
  grid-row: 2 / -1;
  overflow: auto;
}

#session-workout {
  position: relative;
  background-color: azure;
  grid-column: 6 / -1;
  grid-row: 1 / -1;
}

.session-workout-header {
  display: flex;
  justify-content: space-around;
}

.session-workout-header div {
  text-align: center;
  flex-basis: 40%;
  background-color: aliceblue;
}

.session-workout-header div[data-is-active="false"] {
  opacity: 0.7;
}

.session-workout-header p {
  font-size: xx-large;
}

.session-workout-actions {
  display: flex;
  justify-content: space-around;
}

#session-workout[data-loading-section="true"] #session-workout-loading {
  opacity: 1;
  z-index: 1;
}

#session-workout-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  z-index: -1;
}

#session-workout-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.saved-workout-item {
  background-color: cadetblue;
}

[data-form-visibility="hidden"] #create-workout-form {
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.block {
  display: flex;
  flex-direction: column;
}

#loading-spinner {
  position: absolute;
  top: 0;
  right: 0;
}
#loading-spinner[data-show-loading-spinner="false"] {
  visibility: hidden;
}

#loading-spinner[data-show-loading-spinner="true"] {
  visibility: visible;
}
