header,
footer {
  width: 100%;
  text-align: center;
}

article {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

#create-workout {
  background-color: aliceblue;
  grid-column: 1 / 6;
  height: 100%;
}

#saved-workouts {
  background-color: antiquewhite;
  grid-column: 1/6;
  grid-row: 2 / -1;
}

#active-workout {
  background-color: azure;
  grid-column: 6 / -1;
  grid-row: 1 / -1;
}

.saved-workout-item {
  background-color: cadetblue;
}

[data-form-visibility="hidden"] #create-workout-form {
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.block {
  display: flex;
  flex-direction: column;
}
